MediFlow Workflow (2).json
{
  "name": "MediFlow Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "register",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        256,
        160
      ],
      "id": "dfd34672-04d5-469d-a224-eb49d9435b2d",
      "name": "Webhook",
      "webhookId": "d442696e-20cc-42a2-8438-c61d505e3449"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "patients",
        "limit": 1,
        "filterType": "string",
        "filterString": "=email=eq.{{ $json.email }}"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        672,
        160
      ],
      "id": "6eb26b57-37a7-4a71-b9a5-4fe8cfa3eec7",
      "name": "Check Duplicate Email",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "credentials": {
        "supabaseApi": {
          "id": "Ufu5J5bOvo8devP1",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "45b11c1a-bd8c-4605-bb69-c165bc597428",
              "leftValue": "={{ $json.email }}",
              "rightValue": 0,
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        880,
        160
      ],
      "id": "1d1a7126-6b4d-4852-a695-ce31c657aad0",
      "name": "Email Already Exists?"
    },
    {
      "parameters": {
        "tableId": "patients",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "full_name",
              "fieldValue": "={{ $('Validate Fields').item.json.full_name }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $('Validate Fields').item.json.email }}"
            },
            {
              "fieldId": "phone",
              "fieldValue": "={{ $('Validate Fields').item.json.phone }}"
            },
            {
              "fieldId": "date_of_birth",
              "fieldValue": "={{ $('Validate Fields').item.json.date_of_birth }}"
            },
            {
              "fieldId": "gender",
              "fieldValue": "={{ $('Validate Fields').item.json.gender }}"
            },
            {
              "fieldId": "blood_group",
              "fieldValue": "={{ $('Validate Fields').item.json.blood_group }}"
            },
            {
              "fieldId": "allergies",
              "fieldValue": "={{ $('Validate Fields').item.json.allergies }}"
            },
            {
              "fieldId": "portal_pin",
              "fieldValue": "={{ $('Validate Fields').item.json.portal_pin }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1136,
        64
      ],
      "id": "c5d88c1a-50a1-4184-ad66-f0f2a9cf1690",
      "name": "Insert Patient",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "credentials": {
        "supabaseApi": {
          "id": "Ufu5J5bOvo8devP1",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "notifications",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "patient_id",
              "fieldValue": "={{ $('Insert Patient').item.json.id }}"
            },
            {
              "fieldId": "type",
              "fieldValue": "confirmation"
            },
            {
              "fieldId": "channel",
              "fieldValue": "whatsapp"
            },
            {
              "fieldId": "message",
              "fieldValue": "=Welcome to MediFlow, {{ $('Validate Fields').item.json.full_name }}! Your profile has been created. Log in to book your appointment."
            },
            {
              "fieldId": "status",
              "fieldValue": "sent"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1344,
        64
      ],
      "id": "493fde44-b689-4ed0-b1d5-2a3f19831f4d",
      "name": "Log Notification",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "credentials": {
        "supabaseApi": {
          "id": "Ufu5J5bOvo8devP1",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Patient registered successfully\",\n  \"patient_id\": \"{{ $('Insert Patient').item.json.id }}\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1552,
        64
      ],
      "id": "3109cde5-aefc-4db7-a485-5139d2b28b68",
      "name": "Return Success"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": false,\n  \"error\": \"An account with this email already exists. Please log in.\"\n}",
        "options": {
          "responseCode": 409
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1152,
        288
      ],
      "id": "6a58ff1d-3baa-4c2b-aa80-0aac65ebc683",
      "name": "Return Duplicate"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\n\nconst required = [\n  'full_name', 'email', 'phone',\n  'date_of_birth', 'gender',\n  'blood_group', 'allergies', 'portal_pin'\n];\n\nfor (const field of required) {\n  if (!body[field] || body[field].toString().trim() === '') {\n    return [{\n      json: {\n        success: false,\n        error: `Missing required field: ${field}`\n      }\n    }];\n  }\n}\n\nif (body.portal_pin.toString().length !== 4) {\n  return [{\n    json: {\n      success: false,\n      error: 'PIN must be exactly 4 digits'\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    valid: true,\n    full_name:     body.full_name.trim(),\n    email:         body.email.toLowerCase().trim(),\n    phone:         body.phone.trim(),\n    date_of_birth: body.date_of_birth,\n    gender:        body.gender.toLowerCase(),\n    blood_group:   body.blood_group,\n    allergies:     body.allergies.trim(),\n    portal_pin:    body.portal_pin.toString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        160
      ],
      "id": "d143536d-3e21-4f6a-8167-0a83d0f05fd5",
      "name": "Validate Fields"
    },
    {
      "parameters": {
        "content": "## MediFlow Patient Registration\n\n### This workflow handles the patients registration page\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/components/sticky-notes/)",
        "height": 336,
        "width": 384
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "9290e743-c08b-47cb-8008-51ff4cfca535",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## MediFlow Patient Login\n\n### This workflow handles the patients Login page\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/components/sticky-notes/)",
        "height": 336,
        "width": 384
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3120,
        -64
      ],
      "typeVersion": 1,
      "id": "7ce873b5-5542-4f4a-98ec-9ccd583e2853",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "login",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        3376,
        96
      ],
      "id": "7759d7a3-d9c0-4f29-9225-bbf634267ae6",
      "name": "Webhook1",
      "webhookId": "2e3b4328-ad24-4c00-a1ef-7ddfdca6252c"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://akrwucfwvwvooxyrdrub.supabase.co/rest/v1/rpc/patient_login",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "p_email",
              "value": "={{ $json.body.email.toLowerCase().trim() }}"
            },
            {
              "name": "p_pin",
              "value": "={{ $json.body.portal_pin.toString() }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3600,
        96
      ],
      "id": "9efca384-f444-47b0-9ffb-4dd0f93bef7d",
      "name": "Verify Credentials",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "credentials": {
        "supabaseApi": {
          "id": "Ufu5J5bOvo8devP1",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e75c7ea9-17e3-446e-afc7-9ca9f0c47074",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3824,
        96
      ],
      "id": "87b2f2b6-31c1-4209-92f2-1a82c127b3d2",
      "name": "Credentials Valid?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"patient\": {\n    \"id\":          \"{{ $json.id }}\",\n    \"full_name\":   \"{{ $json.full_name }}\",\n    \"email\":       \"{{ $json.email }}\",\n    \"phone\":       \"{{ $json.phone }}\",\n    \"blood_group\": \"{{ $json.blood_group }}\",\n    \"allergies\":   \"{{ $json.allergies }}\"\n  }\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        4032,
        0
      ],
      "id": "b7b190d5-32cf-4d2a-b431-1a7126060381",
      "name": "Return Patient Data"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": false,\n  \"error\": \"Incorrect email or PIN. Please try again.\"\n}",
        "options": {
          "responseCode": 401
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        4032,
        192
      ],
      "id": "b8a9ef97-5752-4e37-8897-7ff5dd0bcb5b",
      "name": "Return Login Error"
    },
    {
      "parameters": {
        "content": "## MediFlow Appointment Booking\n\n### This workflow handles the patients Appointment booking page\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/components/sticky-notes/)",
        "height": 336,
        "width": 384
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -16,
        640
      ],
      "typeVersion": 1,
      "id": "c02d16cb-cd56-46e1-9b04-8000798f2b60",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "appointment-booking",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        240,
        784
      ],
      "id": "dbb421f3-43d7-43e5-b042-17d5a6ecb1f6",
      "name": "Webhook2",
      "webhookId": "3d1d50f3-9eab-473b-867d-309ce0109c4d"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\n\nconst required = ['patient_id', 'slot_id', 'chief_complaint'];\n\nfor (const field of required) {\n  if (!body[field] || body[field].toString().trim() === '') {\n    return [{\n      json: {\n        valid: false,\n        error: `Missing required field: ${field}`\n      }\n    }];\n  }\n}\n\n// Check for urgent keywords in symptoms\n// const urgentKeywords = [\n//   'chest pain', 'chest tightness', 'can\\'t breathe',\n//   'difficulty breathing', 'unconscious', 'seizure',\n//   'stroke', 'severe bleeding', 'heart'\n// ];\n\n// const symptoms = (body.pre_symptoms || '').toLowerCase();\n// const isUrgent = urgentKeywords.some(k => symptoms.includes(k));\n\nconst urgentKeywords = [\n  'chest pain', 'chest tightness', 'can\\'t breathe',\n  'difficulty breathing', 'unconscious', 'seizure',\n  'stroke', 'severe bleeding', 'heart',\n  'chest', 'shortness of breath', 'severe headache',\n  'running stomach', 'high fever'\n];\n\nconst symptoms = (body.pre_symptoms || '').toLowerCase();\nconst complaint = (body.chief_complaint || '').toLowerCase();\n\n// Check BOTH fields — not just symptoms\nconst isUrgent = urgentKeywords.some(k => \n  symptoms.includes(k) || complaint.includes(k)\n);\n\nreturn [{\n  json: {\n    valid: true,\n    patient_id:      body.patient_id.trim(),\n    slot_id:         body.slot_id.trim(),\n    chief_complaint: body.chief_complaint.trim(),\n    pre_symptoms:    body.pre_symptoms || null,\n    urgent_flag:     isUrgent\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        784
      ],
      "id": "cdffec11-e67a-4a2f-9c35-5810857e62dd",
      "name": "Validate Booking"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "62f1aac8-a61a-4660-8b36-4e39f4d0230c",
              "leftValue": "={{ $json.valid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        656,
        784
      ],
      "id": "db1602b6-9508-48e4-bfde-406a36d21131",
      "name": "Input Valid?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"{{ $json.error }}\"\n}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        864,
        880
      ],
      "id": "7facd029-0d20-428a-b8d6-a27f257508aa",
      "name": "Return Validation Error"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://akrwucfwvwvooxyrdrub.supabase.co/rest/v1/rpc/book_appointment",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "p_patient_id",
              "value": "={{ $json.patient_id }}"
            },
            {
              "name": "p_slot_id",
              "value": "={{ $json.slot_id }}"
            },
            {
              "name": "p_chief_complaint",
              "value": "={{ $json.chief_complaint }}"
            },
            {
              "name": "p_pre_symptoms",
              "value": "={{ $json.pre_symptoms }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        864,
        688
      ],
      "id": "ad2ee737-de96-470e-9987-ac04fedf9db3",
      "name": "Book Appointment",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "credentials": {
        "supabaseApi": {
          "id": "Ufu5J5bOvo8devP1",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "ce6d9ee7-d4f4-4636-8214-133d7d13d7ad",
              "leftValue": "={{ $json.data }}",
              "rightValue": "SLOT_TAKEN",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1072,
        688
      ],
      "id": "d64768d1-6835-4eb3-a05a-6bf0d582557d",
      "name": "Booking Successful?",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": false,\n  \"error\": \"This slot has just been booked by someone else. Please choose another time.\"\n}",
        "options": {
          "responseCode": 409
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1280,
        784
      ],
      "id": "ea632fd1-19bc-4290-a1e8-dccbc778b6d0",
      "name": "Return Slot Taken"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "slots",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Validate Booking').item.json.slot_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1280,
        592
      ],
      "id": "8357a2c7-afec-4006-9de5-d8aea8a3957b",
      "name": "Get Slot Details",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "credentials": {
        "supabaseApi": {
          "id": "Ufu5J5bOvo8devP1",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "patients",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $('Validate Booking').item.json.patient_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1520,
        592
      ],
      "id": "37e484e9-b1d1-43c1-ad65-e79473f6ad1a",
      "name": "Get Patient Details",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "credentials": {
        "supabaseApi": {
          "id": "Ufu5J5bOvo8devP1",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "englishtalk1995@gmail.com",
          "mode": "list",
          "cachedResultName": "englishtalk1995@gmail.com"
        },
        "start": "={{ $('Get Slot Details').item.json.slot_date }}T{{ $('Get Slot Details').item.json.slot_time }}",
        "end": "={{ $('Get Slot Details').item.json.slot_date + 'T' + ($('Get Slot Details').item.json.slot_time.substring(0,2) * 1 + ($('Get Slot Details').item.json.slot_time.substring(3,5) * 1 + 30 >= 60 ? 1 : 0)).toString().padStart(2,'0') + ':' + (($('Get Slot Details').item.json.slot_time.substring(3,5) * 1 + 30) % 60).toString().padStart(2,'0') + ':00+01:00' }}",
        "additionalFields": {
          "attendees": [
            "={{ $('Get Patient Details').item.json.email }} "
          ],
          "description": "=Patient: {{ $('Get Patient Details').item.json.full_name }} \nPhone: {{ $('Get Patient Details').item.json.phone }} \nBlood Group: {{ $('Get Patient Details').item.json.blood_group }} \n⚠️ Allergies: {{ $('Get Patient Details').item.json.allergies }} \nReason: {{ $('Validate Booking').item.json.chief_complaint }} \nSymptoms: {{ $('Validate Booking').item.json.pre_symptoms }}",
          "summary": "={{ $('Get Patient Details').item.json.full_name }} — {{ $('Validate Booking').item.json.chief_complaint }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1728,
        592
      ],
      "id": "bea6b6bf-d284-4ecf-808c-9b96c41c3c5b",
      "name": "Create Calendar Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "2qk1GnvKFVpA5OZv",
          "name": "Google Calendar OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "tableId": "notifications",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "patient_id",
              "fieldValue": "={{ $('Validate Booking').item.json.patient_id }}"
            },
            {
              "fieldId": "type",
              "fieldValue": "confirmation"
            },
            {
              "fieldId": "channel",
              "fieldValue": "whatsapp"
            },
            {
              "fieldId": "message",
              "fieldValue": "={{ 'Hello ' + $('Get Patient Details').item.json.full_name + '! Your appointment with Dr. Adaeze Eze is confirmed for ' + new Date($('Get Slot Details').item.json.slot_date + 'T' + $('Get Slot Details').item.json.slot_time + '+01:00').toLocaleDateString('en-GB', {weekday:'long', day:'numeric', month:'long', year:'numeric', timeZone:'Africa/Lagos'}) + ' at ' + new Date($('Get Slot Details').item.json.slot_date + 'T' + $('Get Slot Details').item.json.slot_time + '+01:00').toLocaleTimeString('en-GB', {hour:'2-digit', minute:'2-digit', timeZone:'Africa/Lagos'}) + '. Please arrive 5 minutes early.' }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "sent"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1936,
        592
      ],
      "id": "1b38e0fd-fc66-455b-9c9c-cb94f5c7b728",
      "name": "Log Booking Notification",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "credentials": {
        "supabaseApi": {
          "id": "Ufu5J5bOvo8devP1",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "appointments",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Book Appointment').item.json.data }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "urgent_flag",
              "fieldValue": "={{ $('Validate Booking').item.json.urgent_flag }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2352,
        592
      ],
      "id": "6c73c7d2-86b7-4578-85bb-0d8270e6e237",
      "name": "Update Urgent Flag",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "credentials": {
        "supabaseApi": {
          "id": "Ufu5J5bOvo8devP1",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Appointment confirmed\",\n  \"appointment_id\": \"{{ $('Book Appointment').item.json.data }}\",\n  \"slot_date\": \"{{ $('Get Slot Details').item.json.slot_date }}\",\n  \"slot_time\": \"{{ $('Get Slot Details').item.json.slot_time }}\",\n  \"doctor\": \"{{ $('Get Slot Details').item.json.doctor_name }}\",\n  \"urgent_flag\": \"{{ $('Validate Booking').item.json.urgent_flag }}\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2560,
        592
      ],
      "id": "228f8033-96f9-4462-b6c4-26d8e0cd3c37",
      "name": "Return Booking Confirmation"
    },
    {
      "parameters": {
        "content": "## MediFlow RAG Clinical Query\n\n### This workflow handles the patients Appointment booking page\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/components/sticky-notes/)",
        "height": 336,
        "width": 384
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -32,
        1296
      ],
      "typeVersion": 1,
      "id": "c711d551-41ca-4cd0-ad9f-239696e29bac",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rag-query",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        224,
        1456
      ],
      "id": "6428fbab-b1d4-4c60-a843-e31f024cf824",
      "name": "Webhook3",
      "webhookId": "0f5f568d-af2c-423d-a421-1e14c9a3046a"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\n\nif (!body.patient_id || !body.question) {\n  return [{\n    json: {\n      valid: false,\n      error: 'patient_id and question are required'\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    valid: true,\n    patient_id: body.patient_id.trim(),\n    question:   body.question.trim()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        1456
      ],
      "id": "96153c41-d2b6-4124-810d-ccff7919194b",
      "name": "Extract Input"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "fd59605a-cb8f-467b-9eab-6b021f907354",
              "leftValue": "={{ $json.valid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        640,
        1456
      ],
      "id": "2ffb775d-3083-49b5-9fe0-1fb98c461743",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": false,\n  \"error\": \"{{ $json.error }}\"\n}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        864,
        1552
      ],
      "id": "e5d453dc-755f-48e1-adda-b3b4825d6630",
      "name": "Return Validation Error1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "text-embedding-3-small"
            },
            {
              "name": "input",
              "value": "={{ $json.question }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        864,
        1360
      ],
      "id": "099c45c5-26d5-4d21-a4d8-86e87cc63f90",
      "name": "Embed Question",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "credentials": {
        "openAiApi": {
          "id": "jmMVsG7G2jmBJwbc",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const embedding = $input.first().json.data[0].embedding;\nconst patient_id = $('Extract Input').item.json.patient_id;\nconst question = $('Extract Input').item.json.question;\n\nreturn [{\n  json: {\n    patient_id,\n    question,\n    embedding\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        1360
      ],
      "id": "46a66ae9-fffe-4068-ac53-946a38bf6dec",
      "name": "Extract Embedding"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://akrwucfwvwvooxyrdrub.supabase.co/rest/v1/rpc/match_clinical_notes",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query_embedding",
              "value": "={{ $json.embedding }}"
            },
            {
              "name": "match_patient_id",
              "value": "={{ $json.patient_id }}"
            },
            {
              "name": "match_count",
              "value": "5"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1264,
        1360
      ],
      "id": "297de9a8-4114-4374-b29c-c2ea549c0866",
      "name": "Search Clinical Notes",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "credentials": {
        "supabaseApi": {
          "id": "Ufu5J5bOvo8devP1",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "={{ $('Build Prompt').item.json.system_prompt }}"
            },
            {
              "content": "={{ $('Build Prompt').item.json.user_prompt }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "maxTokens": 800,
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        1680,
        1360
      ],
      "id": "f0443999-b0be-44cb-9f4c-50f2f3a6f08e",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "jmMVsG7G2jmBJwbc",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const results = $input.all();\nconst question = $('Extract Input').item.json.question;\n\n// Build context from matched notes\nlet context = '';\nlet sources = [];\n\nresults.forEach((item, index) => {\n  const note = item.json;\n  context += `Note ${index + 1} (similarity: ${(note.similarity * 100).toFixed(0)}%):\\n${note.content}\\n\\n`;\n  sources.push(`Note ${index + 1}: ${note.content.substring(0, 80)}...`);\n});\n\nif (!context) {\n  context = 'No clinical notes found for this patient.';\n}\n\nconst systemPrompt = `You are a clinical AI assistant helping a doctor \nreview a patient's medical history. You answer questions based ONLY on \nthe clinical notes provided. Be concise, accurate, and medically precise.\nAlways highlight any allergies or drug interactions if relevant.\nIf the information is not in the notes, say so clearly — do not guess.`;\n\nconst userPrompt = `Patient clinical notes:\n${context}\n\nDoctor's question: ${question}\n\nPlease provide a clear, concise answer based only on the notes above.\nEnd your answer with a \"Sources:\" section listing which notes you used.`;\n\nreturn [{\n  json: {\n    system_prompt: systemPrompt,\n    user_prompt:   userPrompt,\n    sources:       sources,\n    question:      question,\n    context_found: results.length > 0\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1472,
        1360
      ],
      "id": "c0f05b51-4058-4745-a9b9-49aefe3b32fd",
      "name": "Build Prompt"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.responseBody }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2272,
        1360
      ],
      "id": "2306d2c4-1972-4170-81d1-576dc051f394",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "content": "## MediFlow Seed Embeddings (Run Once)\n\n### This workflow handles the patients Appointment booking page\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/components/sticky-notes/)",
        "height": 336,
        "width": 384
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3184,
        1888
      ],
      "typeVersion": 1,
      "id": "4dfaf462-f8c7-41ea-bfb6-e3691265a71b",
      "name": "Sticky Note4"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        3456,
        2032
      ],
      "id": "2dc07dff-f466-459d-bbf4-70a3cfdd0075",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "clinical_notes",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "embedding",
              "condition": "is",
              "keyValue": "null"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3664,
        2032
      ],
      "id": "a06f5c8f-a54f-4dee-99b6-ae67fd0a8d18",
      "name": "Get many rows",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "credentials": {
        "supabaseApi": {
          "id": "Ufu5J5bOvo8devP1",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "text-embedding-3-small"
            },
            {
              "name": "input",
              "value": "={{ $json.content }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        4080,
        2032
      ],
      "id": "93adc931-8d69-45f5-a30c-34c3b186162f",
      "name": "Generate Embedding",
      "executeOnce": false,
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "maxTries": 2,
      "credentials": {
        "openAiApi": {
          "id": "jmMVsG7G2jmBJwbc",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const noteId = $('Loop Through Notes').item.json.id;\nconst embedding = $input.first().json.data[0].embedding;\n\nreturn [{\n  json: {\n    id: noteId,\n    embedding: JSON.stringify(embedding)\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4288,
        2032
      ],
      "id": "82e4d8b7-e928-4ffa-b888-58b2ff9913b3",
      "name": "Extract Vector"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://akrwucfwvwvooxyrdrub.supabase.co/rest/v1/clinical_notes",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "=eq.{{ $json.id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "embedding",
              "value": "={{ $json.embedding }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        4496,
        2032
      ],
      "id": "d48a81af-c806-438f-84bb-c9f52f0dc1a9",
      "name": "Save Embedding",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "credentials": {
        "supabaseApi": {
          "id": "Ufu5J5bOvo8devP1",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3872,
        2032
      ],
      "id": "6467b0b1-b542-47a3-9689-9736abeb14d6",
      "name": "Loop Through Notes"
    },
    {
      "parameters": {
        "jsCode": "const answer = $input.first().json.output[0].content[0].text;\nconst question = $('Extract Input').item.json.question;\nconst contextFound = $('Build Prompt').item.json.context_found;\n\nconst responseBody = JSON.stringify({\n  success:       true,\n  question:      question,\n  answer:        answer,\n  context_found: contextFound,\n  model:         'gpt-4o',\n  timestamp:     new Date().toISOString()\n});\n\nreturn [{\n  json: {\n    responseBody\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2032,
        1360
      ],
      "id": "2514de5e-5148-4a1f-95fb-9b03932a442e",
      "name": "Format + Build Response"
    },
    {
      "parameters": {
        "content": "## MediFlow Save SOAP Note\n\n### This workflow handles the patients Appointment booking page\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/components/sticky-notes/)",
        "height": 336,
        "width": 384
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3152,
        1168
      ],
      "typeVersion": 1,
      "id": "7d2814cb-9728-4750-969b-1dd251c8a328",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "save-note",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        3408,
        1328
      ],
      "id": "889123f7-519f-4743-8a2e-c6d0a0203442",
      "name": "Webhook4",
      "webhookId": "5b93f89c-85fd-4a3b-b570-3e4fc468bd8a"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\n\nconst required = [\n  'patient_id', 'appointment_id',\n  'soap_subjective', 'soap_objective',\n  'soap_assessment', 'soap_plan',\n  'diagnosis', 'prescription', 'doctor_name'\n];\n\nfor (const field of required) {\n  if (!body[field] || body[field].toString().trim() === '') {\n    return [{\n      json: {\n        valid: false,\n        error: `Missing required field: ${field}`\n      }\n    }];\n  }\n}\n\n// Combine all SOAP fields into one rich text for embedding\nconst combinedNote = `\nDoctor: ${body.doctor_name}\nDiagnosis: ${body.diagnosis}\nPrescription: ${body.prescription}\n\nSubjective: ${body.soap_subjective}\nObjective: ${body.soap_objective}\nAssessment: ${body.soap_assessment}\nPlan: ${body.soap_plan}\n${body.raw_notes ? 'Additional notes: ' + body.raw_notes : ''}\n`.trim();\n\nreturn [{\n  json: {\n    valid:            true,\n    patient_id:       body.patient_id.trim(),\n    appointment_id:   body.appointment_id.trim(),\n    soap_subjective:  body.soap_subjective.trim(),\n    soap_objective:   body.soap_objective.trim(),\n    soap_assessment:  body.soap_assessment.trim(),\n    soap_plan:        body.soap_plan.trim(),\n    diagnosis:        body.diagnosis.trim(),\n    prescription:     body.prescription.trim(),\n    raw_notes:        body.raw_notes || null,\n    doctor_name:      body.doctor_name.trim(),\n    combined_note:    combinedNote\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3616,
        1328
      ],
      "id": "dd8d7e49-fc4f-49de-af92-1ac3bcdf554a",
      "name": "Validate Input"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "883dc2a9-910b-484e-a04e-454c4719df55",
              "leftValue": "={{ $json.valid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3824,
        1328
      ],
      "id": "79a5da79-6b5c-4ddc-8072-d655b0885430",
      "name": "Input Valid?1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"{{ $json.error }}\"\n}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        4032,
        1424
      ],
      "id": "075ef480-f436-4288-ba4d-18163855946e",
      "name": "Return Validation Error2"
    },
    {
      "parameters": {
        "tableId": "visits",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "patient_id",
              "fieldValue": "={{ $('Validate Input').item.json.patient_id }}"
            },
            {
              "fieldId": "appointment_id",
              "fieldValue": "={{ $('Validate Input').item.json.appointment_id }}"
            },
            {
              "fieldId": "chief_complaint",
              "fieldValue": "={{ $('Validate Input').item.json.soap_subjective }}"
            },
            {
              "fieldId": "soap_subjective",
              "fieldValue": "={{ $('Validate Input').item.json.soap_subjective }}"
            },
            {
              "fieldId": "soap_objective",
              "fieldValue": "={{ $('Validate Input').item.json.soap_objective }}"
            },
            {
              "fieldId": "soap_assessment",
              "fieldValue": "={{ $('Validate Input').item.json.soap_assessment }}"
            },
            {
              "fieldId": "soap_plan",
              "fieldValue": "={{ $('Validate Input').item.json.soap_plan }}"
            },
            {
              "fieldId": "diagnosis",
              "fieldValue": "={{ $('Validate Input').item.json.diagnosis }}"
            },
            {
              "fieldId": "prescription",
              "fieldValue": "={{ $('Validate Input').item.json.prescription }}"
            },
            {
              "fieldId": "doctor_name",
              "fieldValue": "={{ $('Validate Input').item.json.doctor_name }}"
            },
            {
              "fieldId": "raw_notes",
              "fieldValue": "={{ $('Validate Input').item.json.raw_notes }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4032,
        1232
      ],
      "id": "6009656e-95c7-4523-9d9c-01e51fa2f055",
      "name": "Insert Visit",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "credentials": {
        "supabaseApi": {
          "id": "Ufu5J5bOvo8devP1",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "appointments",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Validate Input').item.json.appointment_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "completed"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4240,
        1232
      ],
      "id": "553e01ed-64a1-4644-aed2-8fe9db62d04f",
      "name": "Mark Appointment Completed",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "credentials": {
        "supabaseApi": {
          "id": "Ufu5J5bOvo8devP1",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "text-embedding-3-small"
            },
            {
              "name": "input",
              "value": "={{ $('Validate Input').item.json.combined_note }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        4448,
        1232
      ],
      "id": "9ae6c773-240f-4357-bdc8-1b0e2ff3e272",
      "name": "Embed SOAP Note",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "credentials": {
        "openAiApi": {
          "id": "jmMVsG7G2jmBJwbc",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://akrwucfwvwvooxyrdrub.supabase.co/rest/v1/clinical_notes",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "patient_id",
              "value": "={{ $('Validate Input').item.json.patient_id }}"
            },
            {
              "name": "visit_id",
              "value": "={{ $('Insert Visit').item.json.id }}"
            },
            {
              "name": "content",
              "value": "={{ $('Validate Input').item.json.combined_note }}"
            },
            {
              "name": "embedding",
              "value": "={{ JSON.stringify($json.data[0].embedding) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        4656,
        1232
      ],
      "id": "7de714f8-8d2d-45b5-ba33-9d882de4c719",
      "name": "Save Clinical Note",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "credentials": {
        "supabaseApi": {
          "id": "Ufu5J5bOvo8devP1",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "notifications",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "patient_id",
              "fieldValue": "={{ $('Validate Input').item.json.patient_id }}"
            },
            {
              "fieldId": "type",
              "fieldValue": "post_visit"
            },
            {
              "fieldId": "channel",
              "fieldValue": "whatsapp"
            },
            {
              "fieldId": "message",
              "fieldValue": "={{ 'Hello! Your consultation with ' + $('Validate Input').item.json.doctor_name + ' is complete. Diagnosis: ' + $('Validate Input').item.json.diagnosis + '. Prescription: ' + $('Validate Input').item.json.prescription + '. Please follow your treatment plan and book a follow-up if needed.' }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "sent"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4864,
        1232
      ],
      "id": "a3fb898b-f146-40ef-a208-a1ab65615f79",
      "name": "Create a row",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "credentials": {
        "supabaseApi": {
          "id": "Ufu5J5bOvo8devP1",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const visit = $('Insert Visit').item.json;\nconst note = $('Save Clinical Note').item.json;\n\nconst responseBody = JSON.stringify({\n  success:    true,\n  message:    'Consultation note saved and embedded into AI memory',\n  visit_id:   visit.id,\n  note_id:    note.id,\n  timestamp:  new Date().toISOString()\n});\n\nreturn [{ json: { responseBody } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5072,
        1232
      ],
      "id": "20683de7-f204-4c6d-978b-58a88d7c031c",
      "name": "Build Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.responseBody }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        5280,
        1232
      ],
      "id": "b3ed8a02-5e2b-445a-9182-66cdccb9d105",
      "name": "Return SOAP Success"
    },
    {
      "parameters": {
        "content": "## MediFlow Cancel Appointment\n\n### This workflow handles the patients Appointment booking page\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/components/sticky-notes/)",
        "height": 336,
        "width": 384
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -32,
        1920
      ],
      "typeVersion": 1,
      "id": "bb0c9655-f98b-45ca-9c43-55e54be68d92",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cancel",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        224,
        2080
      ],
      "id": "1c2c26e3-f081-4b3c-a28a-0f254cddddfe",
      "name": "Webhook5",
      "webhookId": "c54e7f65-a709-4e63-8d1b-e9c8a8ec61f5"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\n\nif (!body.appointment_id || !body.patient_id) {\n  return [{\n    json: {\n      valid: false,\n      error: 'appointment_id and patient_id are required'\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    valid:          true,\n    appointment_id: body.appointment_id.trim(),\n    patient_id:     body.patient_id.trim()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        2080
      ],
      "id": "acdb551a-7302-4ef3-a190-5e7ec5458037",
      "name": "Validate Input1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": false, \"error\": \"{{ $json.error }}\" }",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        848,
        2176
      ],
      "id": "ea01a596-1c46-4884-9ce2-94ee9c6cb162",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "594af619-9a32-4946-8fa1-3f49dffc2fbf",
              "leftValue": "={{ $json.valid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        640,
        2080
      ],
      "id": "6aeb2087-8e2c-4748-b20c-2e3af91f4635",
      "name": "Input Valid?2"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "appointments",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $('Validate Input1').item.json.appointment_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        848,
        1984
      ],
      "id": "800f769f-77d0-4c9f-b2e4-51c33e6bd1c3",
      "name": "Get Appointment",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "credentials": {
        "supabaseApi": {
          "id": "Ufu5J5bOvo8devP1",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "bb123948-409c-4069-b033-1d3f1b7985ee",
              "leftValue": "={{ $json.status }}",
              "rightValue": "cancelled",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1056,
        1984
      ],
      "id": "7adb7dc3-23c5-41df-bc79-a3aa6f7b560c",
      "name": "Already Cancelled?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": false,\n  \"error\": \"This appointment has already been cancelled.\"\n}",
        "options": {
          "responseCode": 409
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1264,
        1888
      ],
      "id": "4a8b2814-8d50-4a1a-b28b-d5448f35486f",
      "name": "Return Already Cancelled"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://akrwucfwvwvooxyrdrub.supabase.co/rest/v1/rpc/cancel_appointment",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type ",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "p_appointment_id",
              "value": "={{ $('Validate Input1').item.json.appointment_id }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1264,
        2080
      ],
      "id": "b61cf47d-4cbc-4d09-8877-67080dccf942",
      "name": "Cancel Appointment",
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "credentials": {
        "supabaseApi": {
          "id": "Ufu5J5bOvo8devP1",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "notifications",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "patient_id",
              "fieldValue": "={{ $('Validate Input1').item.json.patient_id }}"
            },
            {
              "fieldId": "type",
              "fieldValue": "confirmation"
            },
            {
              "fieldId": "channel",
              "fieldValue": "whatsapp"
            },
            {
              "fieldId": "message",
              "fieldValue": "={{ 'Hello ' + $('Get Patient Details1').item.json.full_name + '! Your appointment has been successfully cancelled. You can book a new appointment anytime on the MediFlow portal.' }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "sent"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1632,
        2080
      ],
      "id": "5c377887-e1f5-4468-a2c1-d2ea24c06b81",
      "name": "Log Cancellation Notification",
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "credentials": {
        "supabaseApi": {
          "id": "Ufu5J5bOvo8devP1",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const responseBody = JSON.stringify({\n  success:        true,\n  message:        'Appointment cancelled successfully. Your slot has been freed.',\n  appointment_id: $('Validate Input1').item.json.appointment_id,\n  timestamp:      new Date().toISOString()\n});\n\nreturn [{ json: { responseBody } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1808,
        2080
      ],
      "id": "14ad0d0b-e31b-40da-b722-d23bbf84baee",
      "name": "Build Response1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.responseBody }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2016,
        2080
      ],
      "id": "6f7399c1-1d93-4fd1-ab31-08e534423d60",
      "name": "Return Success1"
    },
    {
      "parameters": {
        "content": "## MediFlow Doctor Login\n\n### This workflow handles the doctor Login page\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/components/sticky-notes/)",
        "height": 336,
        "width": 384
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3136,
        528
      ],
      "typeVersion": 1,
      "id": "a46b1938-3eae-411d-b279-9dbc3749cdd2",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "doctor_login",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        3392,
        688
      ],
      "id": "055693d3-636d-4985-a4d0-10da3d83f503",
      "name": "Webhook6",
      "webhookId": "2e3b4328-ad24-4c00-a1ef-7ddfdca6252c"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e75c7ea9-17e3-446e-afc7-9ca9f0c47074",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3840,
        688
      ],
      "id": "7fd3c82a-6f28-4462-9469-7dd125c473bd",
      "name": "Credentials Valid?1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://akrwucfwvwvooxyrdrub.supabase.co/rest/v1/rpc/doctor_login",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "p_email",
              "value": "={{ $json.body.email.toLowerCase().trim() }}"
            },
            {
              "name": "p_pin",
              "value": "={{ $json.body.portal_pin.toString() }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3616,
        688
      ],
      "id": "b4ca3c89-4bbd-4d31-aaba-c021591e6b11",
      "name": "Verify Doctor Credentials",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "credentials": {
        "supabaseApi": {
          "id": "Ufu5J5bOvo8devP1",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"patient\": {\n    \"id\":                    \"{{ $json.id }}\",\n    \"full_name\":             \"{{ $json.full_name }}\",\n    \"email\":                 \"{{ $json.email }}\",\n    \"specialisation:\":       \"{{ $json.specialisation }}\"\n  }\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        4064,
        592
      ],
      "id": "c7d2c350-30d3-44af-9bb3-3d5482ea1944",
      "name": "Return Doctor Data"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": false,\n  \"error\": \"Incorrect email or PIN. Please check your credentials.\"\n}",
        "options": {
          "responseCode": 401
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        4064,
        736
      ],
      "id": "7d16d20a-f55d-4bfa-82ac-7da5605fc768",
      "name": "Build Error Response"
    },
    {
      "parameters": {
        "content": "## MediFlow Analytics Feed\n\n### This workflow handles the patients Appointment booking page\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/components/sticky-notes/)",
        "height": 336,
        "width": 384
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -32,
        2752
      ],
      "typeVersion": 1,
      "id": "cbbe4944-22d7-439a-a4c4-12bb2117008d",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "analytics",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        176,
        2928
      ],
      "id": "08c32b0e-934d-44ff-814d-d9c255e6c81c",
      "name": "Webhook7",
      "webhookId": "c54e7f65-a709-4e63-8d1b-e9c8a8ec61f5"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1936,
        2816
      ],
      "id": "7529ea92-0e8e-43a5-84e8-27cd1cdbffba",
      "name": "Return Analytics"
    },
    {
      "parameters": {
        "jsCode": "const patients    = $('Total Patients').all();\nconst visits      = $('Total Visits').all();\nconst appointments = $('All Appointments').all();\nconst notifications = $('Total Notifications').all();\nconst embeddedNotes = $('Embedded Notes').all().filter(i => i.json.embedding !== null && i.json.embedding !== undefined);\nconst recentActivity = $('Recent Activity').all();\n\n// ── Date helpers ──────────────────────────────────\nconst now = new Date();\nconst startOfWeek = new Date(now);\nstartOfWeek.setDate(now.getDate() - now.getDay());\nstartOfWeek.setHours(0, 0, 0, 0);\n\nconst startOfMonth = new Date(now.getFullYear(), now.getMonth(), 1);\nconst today = now.toISOString().split('T')[0];\n\n// ── Patient stats ─────────────────────────────────\nconst totalPatients = patients.length;\nconst newThisMonth = patients.filter(p => \n  new Date(p.json.created_at) >= startOfMonth\n).length;\n\n// ── Appointment stats ─────────────────────────────\nconst allAppts = appointments.map(a => a.json);\n\nconst todayAppts = allAppts.filter(a => {\n  // We need slot date — approximate from created_at\n  return a.status !== 'cancelled';\n}).length;\n\nconst weekBooked = allAppts.filter(a => \n  new Date(a.booked_at) >= startOfWeek\n).length;\n\nconst weekAttended = allAppts.filter(a => \n  new Date(a.booked_at) >= startOfWeek && \n  a.status === 'completed'\n).length;\n\nconst weekCancelled = allAppts.filter(a => \n  new Date(a.booked_at) >= startOfWeek && \n  a.status === 'cancelled'\n).length;\n\nconst weekUrgent = allAppts.filter(a => \n  new Date(a.booked_at) >= startOfWeek && \n  a.urgent_flag === true\n).length;\n\nconst totalUrgent = allAppts.filter(a => \n  a.urgent_flag === true && \n  a.status !== 'cancelled'\n).length;\n\n// ── Visit stats ───────────────────────────────────\nconst totalVisits = visits.length;\n\n// ── Diagnosis breakdown ───────────────────────────\nconst diagnosisMap = {};\nvisits.forEach(v => {\n  const dx = v.json.diagnosis;\n  if (dx) diagnosisMap[dx] = (diagnosisMap[dx] || 0) + 1;\n});\nconst diagnosisBreakdown = Object.entries(diagnosisMap)\n  .map(([name, value]) => ({ name, value }))\n  .sort((a, b) => b.value - a.value)\n  .slice(0, 8);\n\n// ── Blood group distribution ──────────────────────\nconst bloodMap = {};\npatients.forEach(p => {\n  const bg = p.json.blood_group;\n  if (bg) bloodMap[bg] = (bloodMap[bg] || 0) + 1;\n});\nconst bloodGroups = Object.entries(bloodMap)\n  .map(([group, count]) => ({ group, count }))\n  .sort((a, b) => b.count - a.count);\n\n// ── Monthly registrations (last 6 months) ─────────\nconst monthMap = {};\npatients.forEach(p => {\n  const d = new Date(p.json.created_at);\n  const key = d.toLocaleDateString('en-GB', { month: 'short', year: 'numeric' });\n  monthMap[key] = (monthMap[key] || 0) + 1;\n});\nconst registrationTrend = Object.entries(monthMap)\n  .map(([month, patients]) => ({ month, patients }))\n  .slice(-6);\n\n// ── Weekly appointment trend (last 7 weeks) ────────\nconst weekTrend = [];\nfor (let i = 6; i >= 0; i--) {\n  const weekStart = new Date(startOfWeek);\n  weekStart.setDate(weekStart.getDate() - (i * 7));\n  const weekEnd = new Date(weekStart);\n  weekEnd.setDate(weekEnd.getDate() + 7);\n\n  const label = `W${7 - i}`;\n  const booked = allAppts.filter(a => {\n    const d = new Date(a.booked_at);\n    return d >= weekStart && d < weekEnd;\n  }).length;\n  const attended = allAppts.filter(a => {\n    const d = new Date(a.booked_at);\n    return d >= weekStart && d < weekEnd && a.status === 'completed';\n  }).length;\n  const cancelled = allAppts.filter(a => {\n    const d = new Date(a.booked_at);\n    return d >= weekStart && d < weekEnd && a.status === 'cancelled';\n  }).length;\n\n  weekTrend.push({ week: label, booked, attended, cancelled });\n}\n\n// ── Urgent cases today ────────────────────────────\nconst urgentRaw = $('Get Urgent Cases Today').all();\n\nconst urgentToday = urgentRaw.map(a => ({\n  appointment_id: a.json.appointment_id,\n  patients:      a.json.full_name,\n  symptom:        a.json.symptom,\n  time:           a.json.slot_time \n    ? a.json.slot_time.substring(0, 5) // formats \"09:00:00\" → \"09:00\"\n    : 'N/A',\n  status:         a.json.status\n}));\n\n// ── Recent activity ───────────────────────────────\nconst activity = recentActivity.map(n => ({\n  type: n.json.type,\n  message: n.json.message.substring(0, 80),\n  time: new Date(n.json.sent_at).toLocaleTimeString('en-GB', {\n    hour: '2-digit', minute: '2-digit'\n  })\n}));\n\n// ── Gender distribution ───────────────────────────\nconst genderMap = {};\npatients.forEach(p => {\n  const g = p.json.gender || 'unknown';\n  genderMap[g] = (genderMap[g] || 0) + 1;\n});\nconst genderDistribution = Object.entries(genderMap)\n  .map(([gender, count]) => ({ gender, count }));\n\n// ── Top allergies ─────────────────────────────────\nconst allergyMap = {};\npatients.forEach(p => {\n  const al = (p.json.allergies || '').trim();\n  if (al && al.toLowerCase() !== 'none known' && al.toLowerCase() !== 'none') {\n    allergyMap[al] = (allergyMap[al] || 0) + 1;\n  }\n});\nconst topAllergies = Object.entries(allergyMap)\n  .map(([allergy, count]) => ({ allergy, count }))\n  .sort((a, b) => b.count - a.count)\n  .slice(0, 5);\n\n// ── RAG stats ─────────────────────────────────────\nconst embeddingsIndexed = embeddedNotes.length;\n\n// ── Final payload ─────────────────────────────────\nconst payload = {\n  // Overview\n  totalPatients,\n  newThisMonth,\n  todayAppointments: todayAppts,\n  totalVisits,\n  notificationsSent: notifications.length,\n  embeddingsIndexed,\n\n  // Appointments\n  weekBooked,\n  weekAttended,\n  weekCancelled,\n  weekUrgent,\n  totalUrgent,\n  appointmentTrend: weekTrend,\n  urgentToday,\n\n  // Patients\n  registrationTrend,\n  bloodGroups,\n  genderDistribution,\n  topAllergies,\n\n  // Clinical\n  diagnosisBreakdown,\n  soapNotesSaved: totalVisits,\n  ragModel: 'GPT-4o',\n  embeddingModel: 'text-embedding-3-small',\n  vectorDimensions: 1536,\n  matchCount: 5,\n  vectorStore: 'Supabase pgvector',\n\n  // Meta\n  generatedAt: new Date().toISOString()\n};\n\nreturn [{ json: payload }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        2816
      ],
      "id": "e0ad359b-a316-4133-a93c-afe299a95f58",
      "name": "Build Response2"
    },
    {
      "parameters": {
        "numberInputs": 7
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1328,
        2736
      ],
      "id": "93584b52-adf9-46eb-876d-312f0d1fef5c",
      "name": "Merge"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Get Patient Details').item.json.email}}",
        "subject": "Mediflow Booking Details",
        "emailType": "text",
        "message": "=={{ 'Hello ' + $('Get Patient Details').item.json.full_name + '! Your appointment with Dr. Adaeze Eze is confirmed for ' + new Date($('Get Slot Details').item.json.slot_date + 'T' + $('Get Slot Details').item.json.slot_time + '+01:00').toLocaleDateString('en-GB', {weekday:'long', day:'numeric', month:'long', year:'numeric', timeZone:'Africa/Lagos'}) + ' at ' + new Date($('Get Slot Details').item.json.slot_date + 'T' + $('Get Slot Details').item.json.slot_time + '+01:00').toLocaleTimeString('en-GB', {hour:'2-digit', minute:'2-digit', timeZone:'Africa/Lagos'}) + '. Please arrive 5 minutes early.' }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2144,
        592
      ],
      "id": "5ef8f929-b1ce-4ac6-92b4-54e3223cc502",
      "name": "Send a message",
      "webhookId": "567f7488-cf65-41f8-bdd1-65590f60f0c6",
      "credentials": {
        "gmailOAuth2": {
          "id": "LtK7SLpkOCF8uSdA",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "patients",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $('Validate Input1').item.json.patient_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1440,
        2080
      ],
      "id": "33dbc6dc-033e-4ace-94c6-f7ddc115132e",
      "name": "Get Patient Details1",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "credentials": {
        "supabaseApi": {
          "id": "Ufu5J5bOvo8devP1",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "appointments",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        656,
        2800
      ],
      "id": "7cae2a7d-4d46-4d91-8a47-80da32df0b5e",
      "name": "All Appointments",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "Ufu5J5bOvo8devP1",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "patients",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        672,
        2400
      ],
      "id": "3b5aa748-6eb0-461b-addd-5b55efc7ecd1",
      "name": "Total Patients",
      "credentials": {
        "supabaseApi": {
          "id": "Ufu5J5bOvo8devP1",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "visits",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        656,
        3216
      ],
      "id": "21facc9d-45ca-4430-b173-6decd22174e8",
      "name": "Total Visits",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "Ufu5J5bOvo8devP1",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "notifications",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        672,
        2608
      ],
      "id": "b040254d-8868-4be5-9e7f-0d265589ec8b",
      "name": "Total Notifications",
      "credentials": {
        "supabaseApi": {
          "id": "Ufu5J5bOvo8devP1",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "clinical_notes",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        656,
        3008
      ],
      "id": "5c9379be-3b5e-4a06-be2e-038af2c26d85",
      "name": "Embedded Notes",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "Ufu5J5bOvo8devP1",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "notifications",
        "limit": 10,
        "orderBy": "sent_at.desc"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        656,
        3440
      ],
      "id": "bff6e996-49f2-4669-85b3-1ed3d48c4429",
      "name": "Recent Activity",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "Ufu5J5bOvo8devP1",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://akrwucfwvwvooxyrdrub.supabase.co/rest/v1/rpc/get_urgent_cases_today",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        656,
        3664
      ],
      "id": "afa750a1-823c-4390-9a8e-b1d5b8c2d8b1",
      "name": "Get Urgent Cases Today",
      "credentials": {
        "supabaseApi": {
          "id": "Ufu5J5bOvo8devP1",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Duplicate Email": {
      "main": [
        [
          {
            "node": "Email Already Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Already Exists?": {
      "main": [
        [
          {
            "node": "Insert Patient",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Patient": {
      "main": [
        [
          {
            "node": "Log Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Notification": {
      "main": [
        [
          {
            "node": "Return Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Fields": {
      "main": [
        [
          {
            "node": "Check Duplicate Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Verify Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Credentials": {
      "main": [
        [
          {
            "node": "Credentials Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Credentials Valid?": {
      "main": [
        [
          {
            "node": "Return Patient Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Login Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook2": {
      "main": [
        [
          {
            "node": "Validate Booking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Booking": {
      "main": [
        [
          {
            "node": "Input Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Valid?": {
      "main": [
        [
          {
            "node": "Book Appointment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Validation Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Book Appointment": {
      "main": [
        [
          {
            "node": "Booking Successful?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Booking Successful?": {
      "main": [
        [
          {
            "node": "Get Slot Details",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Slot Taken",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Slot Details": {
      "main": [
        [
          {
            "node": "Get Patient Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Patient Details": {
      "main": [
        [
          {
            "node": "Create Calendar Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Calendar Event": {
      "main": [
        [
          {
            "node": "Log Booking Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Booking Notification": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Urgent Flag": {
      "main": [
        [
          {
            "node": "Return Booking Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook3": {
      "main": [
        [
          {
            "node": "Extract Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Input": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Embed Question",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Validation Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embed Question": {
      "main": [
        [
          {
            "node": "Extract Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Embedding": {
      "main": [
        [
          {
            "node": "Search Clinical Notes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Clinical Notes": {
      "main": [
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Format + Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Loop Through Notes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Embedding": {
      "main": [
        [
          {
            "node": "Extract Vector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Vector": {
      "main": [
        [
          {
            "node": "Save Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Embedding": {
      "main": [
        [
          {
            "node": "Loop Through Notes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Through Notes": {
      "main": [
        [],
        [
          {
            "node": "Generate Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format + Build Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook4": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Input Valid?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Valid?1": {
      "main": [
        [
          {
            "node": "Insert Visit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Validation Error2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Visit": {
      "main": [
        [
          {
            "node": "Mark Appointment Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Appointment Completed": {
      "main": [
        [
          {
            "node": "Embed SOAP Note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embed SOAP Note": {
      "main": [
        [
          {
            "node": "Save Clinical Note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Clinical Note": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Response": {
      "main": [
        [
          {
            "node": "Return SOAP Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook5": {
      "main": [
        [
          {
            "node": "Validate Input1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input1": {
      "main": [
        [
          {
            "node": "Input Valid?2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Valid?2": {
      "main": [
        [
          {
            "node": "Get Appointment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Appointment": {
      "main": [
        [
          {
            "node": "Already Cancelled?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Already Cancelled?": {
      "main": [
        [
          {
            "node": "Return Already Cancelled",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cancel Appointment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cancel Appointment": {
      "main": [
        [
          {
            "node": "Get Patient Details1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Cancellation Notification": {
      "main": [
        [
          {
            "node": "Build Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Response1": {
      "main": [
        [
          {
            "node": "Return Success1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook6": {
      "main": [
        [
          {
            "node": "Verify Doctor Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Credentials Valid?1": {
      "main": [
        [
          {
            "node": "Return Doctor Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Doctor Credentials": {
      "main": [
        [
          {
            "node": "Credentials Valid?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook7": {
      "main": [
        [
          {
            "node": "Total Patients",
            "type": "main",
            "index": 0
          },
          {
            "node": "Total Notifications",
            "type": "main",
            "index": 0
          },
          {
            "node": "All Appointments",
            "type": "main",
            "index": 0
          },
          {
            "node": "Embedded Notes",
            "type": "main",
            "index": 0
          },
          {
            "node": "Total Visits",
            "type": "main",
            "index": 0
          },
          {
            "node": "Recent Activity",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Urgent Cases Today",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Response2": {
      "main": [
        [
          {
            "node": "Return Analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Build Response2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Update Urgent Flag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Patient Details1": {
      "main": [
        [
          {
            "node": "Log Cancellation Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "All Appointments": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Total Patients": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Total Visits": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Total Notifications": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Embedded Notes": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Recent Activity": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Get Urgent Cases Today": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 6
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "alw0MCxNatHSxWm0",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "9111e9d6-88c2-49d6-80e3-eedc16267287",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a24fd7298ff8d926b50ad885875c939562aa6f3afeb1b7b7b4695ff520a029a8"
  },
  "id": "BGYLMFkF7SlhfYxR",
  "tags": []
}